/* Styles for the list of forecast items */
.forecast-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 15px;
}

/* Styles for individual forecast items */
.forecast-item {
  box-sizing: border-box;
  width: calc(100% - 20px); /* Adjusted width for better spacing */
  margin: 10px; /* Adjusted margin for better spacing */
  border: 1px solid var(--hrColor);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Styles for the forecast card container */
.forecast-card {
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

/* Styles for the forecast title */
.forecast-title {
  color: var(--subHeadingColor);
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

/* Styles for forecast temperature */
.forecast-temp {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--tempColor);
  margin-bottom: 10px;
  text-align: center;
  padding-top: 1rem;
}

/* Styles for the container holding forecast main information */
.forecast-main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

/* Styles for the weather icon inside the forecast main container */
.forecast-main img {
  width: 40%;
  max-width: 80px; /* Limit the maximum width of the weather icon */
}

/* Styles for the overall background of the forecast section */
.forecast-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: var(--cardColor);
  box-shadow: var(--profileShadow);
  border-radius: 1rem;
  margin: 1rem;
}

/* Styles for the forecast description */
.forecast-description {
  text-transform: uppercase;
  text-align: center;
  color: var(--subHeadingColor);
  font-size: 0.75rem;
  font-weight: 800;
  margin-bottom: 10px;
}

/* Styles for the forecast date */
.forecast-date {
  border-bottom: 1px solid var(--hrColor);
  margin-bottom: 10px;
  text-align: center;
}

/* Media query for larger screens (min-width: 768px) */
@media only screen and (min-width: 768px) {
  /* Adjusted styles for forecast list on larger screens */
  .forecast-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  /* Adjusted styles for individual forecast items on larger screens */
  .forecast-item {
    width: 48%;
    margin: 10px 3px; /* Adjusted margin for better spacing */
    padding: 2px;
  }

  /* Adjusted styles for the forecast title on larger screens */
  .forecast-title {
    font-size: 1.2rem;
  }

  /* Additional styles for forecast main information on larger screens */
  .forecast-main {
    margin-left: 2px;
    padding: 3px;
  }

  /* Additional styles for forecast temperature on larger screens */
  .forecast-temp {
    font-size: 1.2rem;
    padding-top: 0.5rem;
  }

  /* Adjusted styles for forecast description on larger screens */
  .forecast-description {
    font-size: 0.7rem;
  }

  /* Additional styles for forecast date on larger screens */
  .forecast-date {
    border-bottom: none;
  }
}
